

/*THIS THEME NAME CALLED "ITE3714 GroupProject".
MAKING BY Chung's' Studio.
OWNER: Lau Kin Chung
Instagram: @chung.lkc
OTHER PORTFOLIO WOULD BE FOUND ON "https://github.com/Sasuke1003"*/

@import url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);
/*Basic setting*/
html{-webkit-user-drag: none;user-select: none;-webkit-user-modify: none;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active { text-decoration: none;}
/*Basic setting*/

/*TOP-Navigation Bar*/
.TOP-navbar {display:block;justify-content: center;align-items: center;position:fixed;padding:0px;margin:-8px;height:70px;width:100%;font-size:20px;left:0px;top:0px;overflow:hidden;z-index:12;border:5px solid rgba(0, 0, 0, 0.8);}
.TOP-navbar a {display:block;}
.TOP-navbar ul {list-style-type: none;margin:0;padding:0;overflow: hidden;background-color:rgba(0, 0 , 0, 0.8);}
.TOP-navbar li {font-size:20px;margin-top:10px;margin-bottom:15px;float: left; font-family: helvetica;}
.TOP-navbar li a {display: block;color: #aaa;text-align: center;padding: 19px 16px;text-decoration: none;}
.TOP-navbar li .simply:hover {color:#00b3a4; border-top:rgb(201, 93, 43) solid 3px}
.TOP-navbar li .home:hover {color:#ebc624}
.TOP-navbar li .Login {margin-right:25px;}
.TOP-navbar li .Login:hover {color:#ce3b3b}
.TOP-navbar .csSwhite {margin-left:20px;margin-top:-10px;}
.TOP-navbar .csSwhite:hover {content:url(https://Sasuke1003.github.io/3714GP/src/images/csSred.png);width:100px;}
/*TOP-Navigation Bar*/

.main{
    width:100%;
    height:1000px;
    top:400px;
    left:0;
    bottom:0;
    background-color:#14Ffb4;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    }