

/*THIS THEME NAME CALLED "ITE3714 GroupProject".
MAKING BY Chung's' Studio.
OWNER: Lau Kin Chung
Instagram: @chung.lkc
OTHER PORTFOLIO WOULD BE FOUND ON "https://github.com/Sasuke1003"*/

@import url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);
/*Basic setting*/
html{-webkit-user-drag: none;user-select: none;-webkit-user-modify: none;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active { text-decoration: none;}
/*Basic setting*/

/*TOP-Navigation Bar*/
.TOP-navbar {display:block;justify-content: center;align-items: center;position:fixed;padding:0px;margin:-8px;height:70px;width:100%;font-size:20px;left:0px;top:0px;overflow:hidden;z-index:12;border:5px solid rgba(0, 0, 0, 0.8);}
.TOP-navbar a {display:block;}
.TOP-navbar ul {list-style-type: none;margin:0;padding:0;overflow: hidden;background-color:rgba(0, 0 , 0, 0.93);}
.TOP-navbar li {font-size:20px;margin-top:10px;margin-bottom:15px;float: left; font-family: helvetica;}
.TOP-navbar li a {display: block;color: #aaa;text-align: center;padding: 19px 16px;text-decoration: none;}
.TOP-navbar li .simply:hover {color:#00b3a4; border-top:rgb(201, 93, 43) solid 3px}
.TOP-navbar li .home:hover {color:#ebc624}
.TOP-navbar li .Login {margin-right:15px;}
.TOP-navbar li .Login:hover {color:#ce3b3b}
.TOP-navbar .csSwhite {margin-left:20px;margin-top:-10px;}
.TOP-navbar .csSwhite:hover {content:url(https://Sasuke1003.github.io/3714GP/src/images/csSred.png);width:100px;}
.TOP-navbar .right{float:right}
.TOP-navbar .lang{margin-right:-9px;}
.TOP-navbar .langzh-hk{margin-right:0px;}
.TOP-navbar .right .lang:hover{color:#dbff0e;}
.TOP-navbar .right .langzh-hk:hover{color:#dbff0e;}
/*TOP-Navigation Bar*/

/*Slideshow*/
.slideshowarea{position:absolute;display:flex;justify-content: center;align-items: center;min-height:50vh;margin-top:100px;margin-left:22.75%;z-index: 10;border-bottom:5px solid #333;border-right:5px solid #333;padding:10px;}
ul.slides{position:relative;width:1000px;height:563px;list-style: none;margin:0;padding:0;background-color: #eee;overflow: hidden;}
li.slide{margin:0;padding:0;width:inherit;height:inherit;position: absolute;top:0;left:0;display:flex;justify-content: center;align-items: center;font-family: Helvetica;font-size:120px;color: black;transition: 1s transform ease-in-out;}
.slide:nth-of-type(1){background-color: #111111;left:0%;}
.slide:nth-of-type(2){background-color: #222222;left:100%;}
.slide:nth-of-type(3){background-color: #333333;left:200%;}
.slide:nth-of-type(4){background-color: #444444;left:300%;}
.slide:nth-of-type(5){background-color: #555555;left:400%;}
input[type="radio"] {position:relative;z-index: 100;display: none;}
.controls-visible {position: absolute;width: 100%;bottom: 12px;text-align: center;}
.controls-visible label{display: inline-block;width: 10px;height: 10px;background-color: #fff;border-radius: 50%;margin:0 3px;border: 2px solid #fff;}
.slides input[type="radio"]:nth-of-type(1):checked ~.controls-visible label:nth-of-type(1) {background-color: #333;}
.slides input[type="radio"]:nth-of-type(2):checked ~.controls-visible label:nth-of-type(2) {background-color: #333;}
.slides input[type="radio"]:nth-of-type(3):checked ~.controls-visible label:nth-of-type(3) {background-color: #333;}
.slides input[type="radio"]:nth-of-type(4):checked ~.controls-visible label:nth-of-type(4) {background-color: #333;}
.slides input[type="radio"]:nth-of-type(5):checked ~.controls-visible label:nth-of-type(5) {background-color: #333;}
.slides input[type="radio"]:nth-of-type(1):checked ~ .slide {transform: translate(0%)}
.slides input[type="radio"]:nth-of-type(2):checked ~ .slide {transform: translate(-100%)}
.slides input[type="radio"]:nth-of-type(3):checked ~ .slide {transform: translate(-200%)}
.slides input[type="radio"]:nth-of-type(4):checked ~ .slide {transform: translate(-300%)}
.slides input[type="radio"]:nth-of-type(5):checked ~ .slide {transform: translate(-400%)}
.image{-webkit-user-drag: none;user-select: none;-webkit-user-modify: none;width:1000px;height:563px;}
/*Slideshow*/

/*BODY*/
@keyframes bodybgc{0%{background-color: #000000;}5%{background-color:#0d0a1f}10%{background-color:#00021b}15%{background-color: #022b35;}20%{background-color: #1456a1;}25%{background-color: #31c6e0;}40%{background-color: #9be7f1;}45%{background-color: #d88d8d;}46%{background-color: #e7a924;}47%{background-color: #e46e0d;}48%{background-color: #f00909;}50%{background-color: #080b27;}60%{background-color: #020407;}100%{background-color: #000000;}}
body{background-color:#14Ffb4;animation-name:bodybgc;animation-delay:3s;animation-duration:30s;animation-timing-function: ease;animation-iteration-count: infinite;animation-direction: normal;animation-fill-mode: forwards;}
.main{width:100%;height:2000px;top:625px;left:0;bottom:0;right:0;background-color:#fff;border-top:5px solid #333;display:flex;justify-content:center;align-items:center;position:absolute;}
.mainbg{position:absolute;top:0;left:0;}
.mainbgv{position: fixed;top:0;left:0;width:100%;height:625px;}
/*BODY*/

/*FOOTER*/
footer{user-select: none;border-top: 5px solid rgb(0,0,0);position: absolute;left: 0;bottom: -1800px;width: 100%;background-color: rgb(100, 100, 100);color: white;text-align: center;font-size:15px;z-index: 13;font-family: helvetica;}
footer .footerimg{margin-top:10px;width:150px;}
/*FOOTER*/

/*LOADING ANIMATION*/
.headanimate{z-index:100;left:0px;top:0;position:fixed;width:100%;height:100%;background-color: #14ffb4;font-family: helvetica;animation-name:headanimate;animation-duration:1s;animation-delay:3s;animation-iteration-count: 1;animation-direction: normal;animation-fill-mode: forwards;}
.headanimate h1{display:flex;justify-content: center;align-items: center;height:80%;animation-name:maintitle;animation-duration:3s;animation-timing-function: ease;animation-iteration-count: 1;animation-direction: normal;animation-fill-mode: forwards;}
@keyframes maintitle{from{font-size:10px;}to{font-size:100px;}}
@keyframes headanimate{from{z-index: 100;}to{z-index:-1;background-color:transparent;color:transparent;}}
/*LOADING ANIMATION*/