

/*THIS THEME NAME CALLED "ITE3714 GroupProject".
MAKING BY Chung's' Studio.
OWNER: Lau Kin Chung
Instagram: @chung.lkc
OTHER PORTFOLIO WOULD BE FOUND ON "https://github.com/Sasuke1003"*/

/*Basic setting*/
html{-webkit-user-drag: none;user-select: none;-webkit-user-modify: none;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active { text-decoration: none;}
/*Basic setting*/

/*BODY*/
body{background-image:url(https://Sasuke1003.github.io/3714GP/src/images/main.png);font-family: Helvetica;display: flex;justify-content: center;align-items: center;}
.login{position:relative;width:400px;height:440px;background:transparent;border:2px solid rgba(255,255,255,.5);border-radius:20px;backdrop-filter: blur(20px);}
/*BODY*/